:root {
    --color-almost-white: hsl(0, 0%, 98%);
    --color-medium-gray: hsl(0, 0%, 41%);
    --color-almost-black: hsl(0, 0%, 8%);
}

body {
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--color-almost-white);
}