.bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 54px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 24px;
}

.bar__section {
    box-sizing: border-box;
    flex: 0 0 auto;
}

.bar__navigation {
    display: none;
}

.bar__logo {
    width: auto;
    height: 28px;
}

.bar__text-button {
    display: none;
}

.bar__icon-button {
    box-sizing: border-box;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-bottom: 4px;
}

.bar__icon {
    width: 32px;
    height: auto;
    margin: auto;
}