.image {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 48px;
}

.cta {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}

.title {
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: var(--color-almost-black);
    margin: 0 0 16px 0;
}

.subtitle {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-medium-gray);
    margin: 0 0 24px 0;
}

.button {
    display: inline-block;
    min-width: 136px;
    height: 48px;
    border: none;
    background-color: var(--color-almost-black);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-almost-white);
    border-radius: 14px;
    margin-bottom: 48px;
}

.grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
    height: auto;
}

.logo {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 92px;
}